@using PMISBLayer.Entities
@model PaymentTerm

@if (@ViewBag.msg == false)
{
    <span class="text-danger">total of payment  greater than contract amount</span>
}

<form action="/PaymentTerm/UpdatePaymentTerm">

    @Html.HiddenFor(x => x.PaymentTermId)
    @Html.HiddenFor(x => x.DeliverableId)

    <div class="form-group">
        <label>Payment Term Title</label>
        <input class="form-control" asp-for="PaymentTermTitle" />
    </div>

    <div class="form-group">
        <label>Payment Term Amount</label>
        <input class="form-control" asp-for="PaymentTermAmount" />
    </div>

    <input class="btn btn-outline-primary btn-lg btn-block" type="submit" value="Update" />
    <a class="btn btn-outline-secondary btn-lg btn-block" href="/PaymentTerm/Index">Back</a>
</form>


